<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/home">
            <strong><span>Little</span> Fashion</strong>
            <%if(currentUser && currentUser.role==="seller"){%>
            <small> (Seller account)</small>
            <%}%>

        </a>
        <div class="d-lg-none">
            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>
            <a href="product-detail.html" class="bi-bag custom-icon"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/story">Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faqs">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <%if(currentUser && currentUser.role==="seller"){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/seller/dashboard">Dashboard</a>
                    </li>
                    <%}%>
            </ul>
            <div class="d-none d-lg-block">
                <%if(!currentUser){%>
                    <a href="/login" class="bi-person custom-icon me-3" alt="login"> <small>login</small></a>
                    <%}else{%>
                        <a href="/logout" class=" custom-icon me-3 "><i class="fa-solid fa-user"></i> <small>Logout</small></a>
                        <%}%>

                            <a href="/user/cart" class="bi-bag custom-icon"><sup><span class="badge text-bg-secondary"><%= currentUser && currentUser.cart ? currentUser.cart.length : 0 %></span></sup></a>
            </div>
        </div>
    </div>
</nav>
